{% extends 'layouts/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Generate Schedule Report</h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" id="locationForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_name">Start Date</label>
                            <input type="date" class="form-control" id="start_date" name="start_date" required>
                            <div class="invalid-feedback"></div> <!-- Error message container -->
                        </div>
                        <div class="form-group">
                            <label for="id_name">End Date</label>
                            <input type="date" class="form-control" id="end_date" name="end_date" required>
                            <div class="invalid-feedback"></div> <!-- Error message container -->
                        </div>
                        <div class="form-group">
                            <label for="id_name">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div class="invalid-feedback"></div> <!-- Error message container -->
                        </div>
                        <button class="btn-sm btn-primary">
                            Generate
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
